npfl114
venv
.idea
**/*.pyc
**/mnist_data/
**/result
**/logs/
hw4-gym_cartpole_supervised/1-gym-babka-*-completed*
hw4-gym_cartpole_supervised/1-gym-babka-*-epoch-*
hw4-gym_cartpole_supervised/checkpoint
hw4-gym_cartpole_supervised/hw-4-gym_cartpole_supervised_model.tar.gz
hw6-sequence_generation/hw6-sequence_generation.tar.gz
/hw8-tagger/en-dev.txt
/hw8-tagger/cs-dev.txt
/hw8-tagger/LICENSE.CC-BY-NC-SA-4
/hw8-tagger/en-test.txt
/hw8-tagger/cs-train.txt
/hw8-tagger/en-train.txt
/hw8-tagger/cs-test.txt
/hw8-tagger/word_embedding-cs.txt
/hw8-tagger/word_embedding-en.txt
venv-tf-0.11/
/hw-lemmatizer/word_embedding-cs.txt
/hw-lemmatizer/cs-dev.txt
/hw-lemmatizer/en-dev.txt
/hw-lemmatizer/en-train.txt
/hw-lemmatizer/cs-test.txt
/hw-lemmatizer/word_embedding-en.txt
/hw-lemmatizer/cs-train.txt
/hw-lemmatizer/en-test.txt
